# Server
PORT=8991
NODE_ENV=development

# Parser Type
# Возможные значения: resident, non-resident
PARSER_TYPE=resident

# Database
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_DATABASE=visa_monitor

# Telegram Bot
TELEGRAM_BOT_TOKEN=8476679773:AAHAS_BB4VKKnZqryHkJrMB5uEikF5zkz0Y
TELEGRAM_CHAT_ID=-1003010791473
# Telegram Topics (для форумов/супергрупп)
# Парсер запускается/завершается
TELEGRAM_TOPIC_PARSER=169887
# Ошибки парсера
TELEGRAM_TOPIC_ERRORS=170598
# Успешные парсинги и найденные слоты
TELEGRAM_TOPIC_SLOTS=171437
# Успешная/неуспешная запись
TELEGRAM_TOPIC_BOOKINGS=3

# Logging
# Уровни логирования: error, warn, log, debug, verbose
# По умолчанию: error,warn,log (без debug и verbose для чистоты логов)
LOG_LEVEL=error,warn,log

# Debug
DEBUG_VISA_RUNNER=0
